<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.AddressMapper">

    <insert id="add">
        insert into
            address_book
            (city_code,city_name,consignee,detail,district_code,district_name,is_default,label,
            province_code,province_name,sex,user_id,phone)
            values
                (#{cityCode},#{cityName},#{consignee},#{detail},#{districtCode},#{districtName},#{isDefault},#{label},
                #{provinceCode},#{provinceName},#{sex},#{userId},#{phone})
    </insert>

    <update id="updateAnother">
        update
                address_book
        set
            is_default = #{isDefault}
        where
            user_id = #{userId};
    </update>

    <update id="updateMine">
        update
            address_book
        set
            is_default = 1
        where
            id = #{id};
    </update>


    <update id="update">
            update
                address_book
            <set>
                <if test="cityCode != null">city_code = #{cityCode},</if>
                <if test="cityName != null">city_name = #{cityName},</if>
                <if test="consignee != null">consignee = #{consignee},</if>
                detail = #{detail},
                <if test="districtCode != null">district_code = #{districtCode},</if>
                <if test="districtName != null">district_name = #{districtName},</if>
                <if test="isDefault != null"> is_default = #{isDefault},</if>
                <if test="label != null">label = #{label},</if>
                 phone = #{phone},
                <if test="provinceCode != null">province_code = #{provinceCode},</if>
                <if test="provinceName != null">province_name = #{provinceName},</if>
                <if test="sex != null">sex = #{sex},</if>
            </set>
        where id = #{id}
    </update>

</mapper>