<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into orders
        (number, status, user_id, address_book_id, order_time, checkout_time, pay_method, pay_status, amount, remark,
         phone, address, consignee, estimated_delivery_time, delivery_status, pack_amount, tableware_number,
         tableware_status)
        values (#{number}, #{status}, #{userId}, #{addressBookId}, #{orderTime}, #{checkoutTime}, #{payMethod},
                #{payStatus}, #{amount}, #{remark}, #{phone}, #{address}, #{consignee},
                #{estimatedDeliveryTime}, #{deliveryStatus}, #{packAmount}, #{tablewareNumber}, #{tablewareStatus})
    </insert>

    <insert id="insertDetails">
        insert into
            order_detail
        (name,image,order_id,dish_id,setmeal_id,dish_flavor,number,amount)
        values
            (#{name},#{image},#{orderId},#{dishId}, #{setmealId},#{dishFlavor},#{number},#{amount})
    </insert>

    <update id="update" parameterType="Orders">
        update orders
        <set>
            <if test="number != null"> number=#{number}, </if>
            <if test="status != null"> status=#{status}, </if>
            <if test="addressBookId != null"> address_book_id=#{addressBookId}, </if>
            <if test="orderTime != null"> order_time=#{orderTime},</if>
            <if test="checkoutTime != null"> checkout_time=#{checkoutTime}, </if>
            <if test="payMethod != null"> pay_method=#{payMethod}, </if>
            <if test="payStatus != null"> pay_status=#{payStatus}, </if>
            <if test="amount != null"> amount=#{amount}, </if>
            <if test="remark != null"> remark=#{remark}, </if>
            <if test="phone != null"> phone=#{phone}, </if>
            <if test="address != null"> address=#{address}, </if>
            <if test="userName != null"> user_name=#{userName}, </if>
            <if test="consignee != null"> consignee=#{consignee} ,</if>
            <if test="cancelReason != null"> cancel_reason=#{cancelReason}, </if>
            <if test="rejectionReason != null"> rejection_reason=#{rejectionReason}, </if>
            <if test="cancelTime != null"> cancel_time=#{cancelTime}, </if>
            <if test="estimatedDeliveryTime != null"> estimated_delivery_time=#{estimatedDeliveryTime}, </if>
            <if test="deliveryStatus != null"> delivery_status=#{deliveryStatus}, </if>
            <if test="deliveryTime != null"> delivery_Time=#{deliveryTime}, </if>
            <if test="packAmount != null"> pack_amount=#{packAmount},</if>
            <if test="tablewareNumber != null"> tableware_number=#{tablewareNumber}, </if>
            <if test="tablewareStatus != null"> tableware_status=#{tablewareStatus}, </if>
        </set>
        where id=#{id}
    </update>

    <!-- 查询订单主表 orders -->
    <select id="historyOrders" resultType="com.sky.entity.Orders">
        SELECT *
        FROM orders
        <where>
            <!-- 必须是当前用户 -->
            user_id = #{userId}

            <!-- 状态过滤（可选） -->
            <if test="status != null">
                AND status = #{status}
            </if>

            <!-- 时间范围过滤（可选） -->
            <if test="beginTime != null">
                AND order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                AND order_time &lt;= #{endTime}
            </if>

        </where>

        <!-- 按下单时间倒序排列 -->
        ORDER BY order_time DESC
    </select>

    <update id="cancelOrders">
        update
            orders
        set
            status = 6,
            cancel_reason = "我不想要了",
            cancel_time = now()
        where
            id = #{id}
    </update>

        <!--    查询所有订单消息-->
    <select id="find" resultType="com.sky.entity.Orders">
        select
            *
        from
            orders
        <where>
            <!-- 手机号过滤（可选） -->
            <if test="phone != null">
                AND phone = #{phone}
            </if>
            <!-- 订单号过滤（可选） -->
            <if test="number != null">
                AND number = #{number}
            </if>
            <!-- 状态过滤（可选） -->
            <if test="status != null">
                AND status = #{status}
            </if>

            <!-- 时间范围过滤（可选） -->
            <if test="beginTime != null">
                AND order_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                AND order_time &lt;= #{endTime}
            </if>

        </where>
          order by order_time desc
    </select>

    <select id="statistics" resultType="com.sky.vo.OrderStatisticsVO">
        select
            sum(case when status = 2 then 1 else 0 end) toBeConfirmed,
            sum(case when status = 3 then 1 else 0 end) confirmed,
            sum(case when status = 4 then 1 else 0 end) deliveryInProgress
        from
            orders
    </select>

</mapper>